<html layout:decorator="layout">

<div layout:fragment="content">

    <h3 th:if="${userid}" th:text = "${username} + '\'s Subscriptions'"> </h3>
    <h3 th:if="${userid} == null">All Services </h3>

    <a th:if="${userid}" class="btn btn-primary" th:href=" ${'/users/' + {userid} +'/subscribe'} ">Subscribe to service</a>
    <a th:if="${userid} == null" class="btn btn-primary" href="/services/new">Add a new service</a>

    <table class="table table-striped" id="services_list">
        <thead>
        <tr>
            <th>Service Name</th>
            <th>Action</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="service : ${services}">
            <td class="message" data-th-text="${service.name}"></td>

            <td>
                <a th:if="${userid}" th:href="${'/users/' + {userid} + '/delete/' + {service.id}}" class="delete" th:attr="name=${service.name}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
                <a th:if="${userid} == null" th:href="@{'/services/{id}/delete'(id=${service.id})}" class="delete" th:attr="name=${service.name}">
                        <span class="fa-stack">
                            <i class="glyphicon glyphicon-trash"></i>
                        </span>
                </a>
            </td>

            <td>
                <a th:href="@{'/services/{id}/edit'(id=${service.id})}" class="edit" th:attr="name=${service.name}">
                    <span class="fa-stack">
                        <i class="glyphicon glyphicon-edit"></i>
                    </span>

                </a>
            </td>

            <td>
                <a th:href="@{'/services/users/{id}'(id=${service.id})}"> View Users
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>